body{
    background-color:#1d2742;
    color:#fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:16px;
}
div{
    display:flex;
    align-items:center;
    flex-direction:column;
    gap: 15px;
}

h1{
    color:tomato;
    font-size:50px;
}
.opcion{
    display:block;
    text-align:center;
    text-decoration: none;
    width:350px;
    height:60px;
    border-radius:10px;
    line-height:60px;
    font-size:25px;
    color:rgb(231, 220, 24);
    font-weight:bold;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    cursor: pointer;
    transition: .5s ease-in-out;
}
.opcion:hover{
    height:70px;
    line-height:70px;
    background-image: linear-gradient(to right top, #876f16, #39007a, #935800, #0a100e, #4014a7);
    
}


